<section class="cart">
<!--
<div class="empty-cart">
    <div class= "container mx-auto text-center">
        <h1 class="text-3xl font-bold mb-2">Cart Empty </h1>
        <p class= "mb-2"> You probably haven't ordered a pizza yet.
           <br> To orer a pizza, go to the main page. 
        </p>
        <img src="/img/empty-cart.png" class = "w-2/5 mx-auto" alt="empty cart">
        <a href= "/" class= "inline-block mt-4 px-6 py-2 rounded-full btn-primary text-while font-bold order-now">Go back</a>
    </div>
</div>
-->
<div class="order container mx-auto w-1/2">
    <div class= "flex items-center border-b border-gray-300 pb-4">
        <img src="/img/cart-black.png" alt="">
        <h1 class="font-bold ml-4 text-2xl"> Order summary </h1>
    </div>
    <div class="pizza-list my-8">
        <div class="flex items-center">
            <img class= "w-24" src="/img/pizza.png" alt="">
        <div class="ml-4 flex-1">
        <h1>Marinara</h1>
        <span>MEDIUM</span>
        </div>
        <span class= "flex-1">1 PCs</span>
        <span class= "font-bold">300</span>
    </div>
</div>
  <div class="pizza-list my-8">
        <div class="flex items-center">
            <img class= "w-24" src="/img/pizza.png" alt="">
        <div class="ml-4 flex-1">
        <h1>Marinara</h1>
        <span>MEDIUM</span>
        </div>
        <span class= "flex-1">1 PCs</span>
        <span class= "font-bold">300</span>
    </div>
</div>
  <div class="pizza-list my-8">
        <div class="flex items-center">
            <img class= "w-24" src="/img/pizza.png" alt="">
        <div class="ml-4 flex-1">
        <h1>Marinara</h1>
        <span>MEDIUM</span>
        </div>
        <span class= "flex-1">1 PCs</span>
        <span class= "font-bold">300</span>
    </div>
</div>
  <div class="pizza-list my-8">
        <div class="flex items-center">
            <img class= "w-24" src="/img/pizza.png" alt="">
        <div class="ml-4 flex-1">
        <h1>Marinara</h1>
        <span>MEDIUM</span>
        </div>
        <span class= "flex-1">1 PCs</span>
        <span class= "font-bold">300</span>
    </div>
</div>
<hr>
<div>
    <div class= "text-right py-4">
        <span> Total Amount:       </span>
        <span> 300 </span>
    
    </div>
    <div>
        <form action="" class= "mt-12"> 
            <input class= "border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone number">
            <input class= "border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">
            <div>
            <button class = "order-now px-6 py-2 rounded-full mt-6" type = "submit">Order now</button>
            </div>
        
        </form>
    </div>
    <a href="" class= "order-now inline-block cursor-pointer px-6 rounded-full "> Login to continue</a>
</div>

</div>
</section>